version: '3.4'

services:
  eshop-app:
    build:
     context: .
     dockerfile: eshop-app.dockerfile
     target: ${app_name}
    depends_on:
      - sqlserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SIGNALFX_ENDPOINT_URL=http://otel-collector:9411/api/v2/spans
      - SIGNALFX_PROFILER_ENABLED=${profiler_enabled}
      - SIGNALFX_PROFILER_LOGS_ENDPOINT=http://otel-collector:4318/v1/logs
      - ConnectionStrings__CatalogConnection=Server=sqlserver,1433;Integrated Security=true;Initial Catalog=Microsoft.eShopOnWeb.CatalogDb;User Id=sa;Password=@someThingComplicated1234;Trusted_Connection=false;
      - ConnectionStrings__IdentityConnection=Server=sqlserver,1433;Integrated Security=true;Initial Catalog=Microsoft.eShopOnWeb.Identity;User Id=sa;Password=@someThingComplicated1234;Trusted_Connection=false;
    volumes:
      # /tmp directory needs to be shared between target app and this sidecar container
      - type: volume
        source: tmp
        target: /tmp
  sqlserver:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
    - ACCEPT_EULA=Y
    - SA_PASSWORD=@someThingComplicated1234
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.50.0
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    command: --config /etc/otel/config.yaml
  dotnet-counters:
    build:
      context: .
      dockerfile: dotnet-counters-in-sdk.dockerfile
    depends_on: 
    - eshop-app
    working_dir: /app
    volumes:
      # /tmp directory needs to be shared between target app and this sidecar container
      - type: volume
        source: tmp
        target: /tmp
      - ./${results_dir}:/app
    # target app and sidecar need to share the process namespace
    pid: "service:eshop-app"
    command: dotnet counters collect --process-id 1 --refresh-interval 1 --format json --output /app/counters.json
      
  StartDependencies:
    image: andrewlock/wait-for-dependencies
    depends_on:
      - otel-collector
      - sqlserver
      - eshop-app
    environment:
      - TIMEOUT_LENGTH=120
    command: otel-collector:13133 sqlserver:1433 eshop-app:80
  RunWarmup:
    image: grafana/k6
    volumes:
      - ./basic.js:/app/basic.js
    command: run -u 10 -i 500 /app/basic.js
  RunTest:
    image: grafana/k6
    depends_on: 
      - dotnet-counters
    volumes:
      - ./basic.js:/app/basic.js
      - ./${results_dir}:/results
    command: run -u 30 -i 8500 /app/basic.js --summary-export /results/k6-test-summary.json
volumes:
  tmp: