* @signalfx/gdi-dotnet-approvers

CODEOWNERS @signalfx/gdi-dotnet-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-dotnet-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-dotnet-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-dotnet-approvers
README* @signalfx/gdi-docs @signalfx/gdi-dotnet-approvers
