workflow:
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v/'

stages:
  - build
  - sign

linux-build:
  stage: build
  parallel:
    matrix:
      - baseImage: [ alpine, debian ]
  variables:
    dotnetSdkVersion: 6.0.200
  script:
    - |
      rm .dockerignore
    - |
      docker build \
        --build-arg DOTNETSDK_VERSION=${dotnetSdkVersion} \
        --tag dd-trace-dotnet/${baseImage}-builder \
        --target releaser \
        --file "./tracer/build/_build/docker/${baseImage}.dockerfile" \
        .
    - |
      docker run \
        --env NugetPackageDirectory=/project/packages \
        --env tracerHome=/shared/bin/monitoring-home/tracer \
        --env artifacts=/project/tracer/src/bin/artifacts \
        --name release \
        dd-trace-dotnet/${baseImage}-builder \
        tracer/build.sh Clean BuildTracerHome ZipTracerHome
    - |
      docker cp release:/project/tracer/src/bin/artifacts/linux-x64 dist
  artifacts:
    paths:
      - dist/

# windows-build:
#   stage: build
#   tags:
#     - windows
#   script:
#     - tracer\build.ps1 Clean BuildTracerHome PackageTracerHome
#   artifacts:
#     paths:
#       - tracer/bin/artifacts/nuget/SignalFx.NET.Tracing.Azure.Site.Extension.*.nupkg
#       - tracer/bin/artifacts/*/en-us

sign-artifacts:
  stage: verify
  variables:
    dotnetSdkVersion: 6.0.200
  script:
    - |
      rm .dockerignore
    - | 
      docker build \
        --build-arg DOTNETSDK_VERSION=${dotnetSdkVersion} \
        --tag splunk-trace-dotnet/checksums \
        --file "./tracer/build/_build/docker/dotnet.dockerfile" \
        .
    - |
      docker run \
        --env artifacts=/project/dist \
        --name checksums \
        splunk-trace-dotnet/checksums \
        tracer/build.sh ChecksumArtifacts
    - |
      docker cp checksums:/project/dist/checksums.txt dist/checksums.txt
  dependencies: 
    - linux-build
  artifacts:
    paths:
      - dist/checksums.txt

sign-artifacts-new:
  stage: verify
  script:
    - pushd dist && shasum -a 256 * > checksums2.txt && popd
  dependencies: 
    - linux-build
  artifacts:
    paths:
      - dist/checksums2.txt
  