include:
  # repo: https://cd.splunkdev.com/core-ee/signing/api-integration/-/tree/develop/
  - project: core-ee/signing/api-integration
    ref: develop
    file: /templates/.sign-client.yml
  - project: 'ci-cd/templates'
    ref: master
    file: '/prodsec/.oss-scan.yml'

stages:
  - build
  - sign
  - fossa-scan
  - checksum
  - checksum-sign

linux-build:
  stage: build
  parallel:
    matrix:
      - baseImage: [ alpine, debian ]
  variables:
    dotnetSdkVersion: 8.0.100
  script:
    - |
      rm .dockerignore
    - |
      docker build \
        --build-arg DOTNETSDK_VERSION=${dotnetSdkVersion} \
        --tag dd-trace-dotnet/${baseImage}-builder \
        --target releaser \
        --file "./tracer/build/_build/docker/${baseImage}.dockerfile" \
        .
    - |
      docker run \
        --env NugetPackageDirectory=/project/packages \
        --env tracerHome=/shared/bin/monitoring-home/tracer \
        --env artifacts=/project/tracer/src/bin/artifacts \
        --name release \
        dd-trace-dotnet/${baseImage}-builder \
        tracer/build.sh Clean BuildTracerHome ZipMonitoringHome
    - |
      docker cp release:/project/tracer/src/bin/artifacts/linux-x64 dist
  artifacts:
    paths:
      - dist/

# windows-build:
#   stage: build
#   tags:
#     - windows
#   script:
#     - tracer\build.ps1 Clean BuildTracerHome PackageTracerHome
#   artifacts:
#     paths:
#       - tracer/bin/artifacts/nuget/SignalFx.NET.Tracing.Azure.Site.Extension.*.nupkg
#       - tracer/bin/artifacts/*/en-us

sign-deb:
  stage: sign
  extends: .submit-request
  dependencies: 
    - linux-build
  before_script:
    - cp -vfp $(ls dist/*.deb) package.deb
  after_script:
    - mkdir signed
    - mv -vf tmp/package.deb "signed/$(basename $(ls dist/*.deb))"
  variables:
    PROJECT: signalfx-dotnet-tracing
    ARTIFACT: package.deb
    SIGN_TYPE: DEB
    DOWNLOAD_DIR: tmp
    REPO_NAME: releng # this env var should be not needed in future
    REPO_PATH: signalfx-dotnet-tracing # this env var should be not needed in future
  artifacts:
    paths:
      - signed/

sign-rpm:
  stage: sign
  extends: .submit-request
  dependencies: 
    - linux-build
  before_script:
    - cp -vfp $(ls dist/*.rpm) package.rpm
  after_script:
    - mkdir signed
    - mv -vf tmp/package.rpm "signed/$(basename $(ls dist/*.rpm))"
  variables:
    PROJECT: signalfx-dotnet-tracing
    ARTIFACT: package.rpm
    SIGN_TYPE: RPM
    DOWNLOAD_DIR: tmp
    REPO_NAME: releng # this env var should be not needed in future
    REPO_PATH: signalfx-dotnet-tracing # this env var should be not needed in future
  artifacts:
    paths:
      - signed/

checksums:
  stage: checksum
  script:
    - cp -vnpr dist/. signed # copy artifacts that are not signed
    - pushd signed && shasum -a 256 * > checksums.txt && popd
  artifacts:
    paths:
      - signed/

checksums-sign:
  stage: checksum-sign
  extends: .submit-request
  variables:
    PROJECT: signalfx-dotnet-tracing
    ARTIFACT: signed/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: signed
    REPO_NAME: releng # this env var should be not needed in future
    REPO_PATH: signalfx-dotnet-tracing # this env var should be not needed in future
  artifacts:
    paths:
      - signed/

oss-scan:
  stage: fossa-scan
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  extends: .oss-scan
