workflow:
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v/'

stages:
  - build

linux-build:
  stage: build
  parallel:
    matrix:
      - baseImage: [ alpine, debian ]
  variables:
    dotnetSdkVersion: 6.0.200
  script:
    - |
      rm .dockerignore
    - |
      docker build \
        --build-arg DOTNETSDK_VERSION=${dotnetSdkVersion} \
        --tag dd-trace-dotnet/${baseImage}-builder \
        --target releaser \
        --file "./tracer/build/_build/docker/${baseImage}.dockerfile" \
        .
    - |
      docker run \
        --env NugetPackageDirectory=/project/packages \
        --env tracerHome=/project/tracer/bin/tracer-home \
        --env artifacts=/project/tracer/src/bin/artifacts \
        --name release \
        dd-trace-dotnet/${baseImage}-builder \
        tracer/build.sh Clean BuildTracerHome ZipTracerHome
    - |
      docker cp release:/project/tracer/src/bin/artifacts/linux-x64 dist
  artifacts:
    paths:
      - dist/

# windows-build:
#   stage: build
#   # rules:
#   #   - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+.*/'
#   tags:
#     - windows
#   script:
#     - tracer\build.ps1 Clean BuildTracerHome PackageTracerHome
#   artifacts:
#     paths:
#       - dist/
#       - tracer/bin/artifacts/nuget/SignalFx.NET.Tracing.Azure.Site.Extension.*.nupkg
#       - tracer/bin/artifacts/*/en-us
  
