@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    padding: 0;
    margin: 0;
    scroll-behavior: revert !important;
}

* {
    scroll-behavior: auto !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}

h2:before {
    height: 110px;
    content: "";
    display:block;
}

.jvmarg {
    font-size: .7em;
}

.ct-bar {
    stroke-width: 100px;
}

.ct-series-a .ct-bar {
    stroke: #0070F3;
}

.ct-label {
    color: black;
}

.ct-bar-label {
    text-color: black;
}