<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Files.Managed.Netcoreapp31" Directory="netcoreapp3.1">
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp31_SignalFx.Instrumentation.dll"
              Source="$(var.TracerHomeDirectory)\netcoreapp3.1\SignalFx.Instrumentation.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp31_SignalFx.Instrumentation.MSBuild.dll"
              Source="$(var.TracerHomeDirectory)\netcoreapp3.1\SignalFx.Instrumentation.MSBuild.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp31_SignalFx.Instrumentation.MSBuild.pdb"
              Source="$(var.TracerHomeDirectory)\netcoreapp3.1\SignalFx.Instrumentation.MSBuild.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp31_SignalFx.Instrumentation.pdb"
              Source="$(var.TracerHomeDirectory)\netcoreapp3.1\SignalFx.Instrumentation.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
