<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="textFile" xsi:type="File" fileName="${basedir}\log-textFile.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|{deployment.environment: &quot;${mdc:item=deployment.environment}&quot;,service.name: &quot;${mdc:item=service.name}&quot;,service.version: &quot;${mdc:item=service.version}&quot;,trace_id: &quot;${mdc:item=trace_id}&quot;,span_id: &quot;${mdc:item=span_id}&quot;}|${message}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="textFile" />
    </rules>
</nlog>