all:
  vars:
    testbox_host: {{testbox_host}}
    externals_host: {{externals_host}}
    ansible_ssh_private_key_file: ~/.orca/id_rsa
  children:
    externals:
      hosts:
        {{externals_host}}:
          ansible_user: {{ansible_user}}
    testbox:
      hosts:
        {{testbox_host}}:
          ansible_user: {{ansible_user}}
