#!/bin/bash

# You should run this within screen

NUM_PASSES=1

if [ "$#" != "0" ] ; then
  NUM_PASSES=$1
fi

echo Running $NUM_PASSES test passes...

echo 1 > /tmp/tests-running
for i in `seq 1 ${NUM_PASSES}` ; do
  now=$(date)
  echo "${now} - Starting pass ${i}..."
  echo "RUNNING ${i} of ${NUM_PASSES}" > /tmp/passnum.txt
  
  EXTERNALS_HOST={{externals_host}} dotnet test --logger "trx" /home/splunk/bin/SignalFx.OverheadTest.dll
  echo "FINISHED ${i} of ${NUM_PASSES}" > /tmp/passnum.txt
done
echo 0 > /tmp/tests-running
